.footer-card{
  color: #614e5a;
  height: 35px;
}

.btn-details{
  background-color: #614e5a;
  color: #fff
}

.btn-details:hover{
  background-color: #f21667;
  color: #fff
}

.card-text{
  max-height: 100px;
  overflow: hidden;
}

.img-card{
  max-height: 200px;
  min-width: 100%;
}